    body {
        font-family: 'Inter', sans-serif;
        background: linear-gradient(#1e2736, #273346 );
        color: #2e2416;
        height: 100vh;
        margin-top: 100px
        }
    .h1 {
            text-align: center;
            margin-top: 20px;
            color: #58a6ff;
            font-size: 72px;
            font-weight: bold;
        }
    .back    {
            align-self: left;
        }
    .container {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            margin-top: 20px;
        }
    .email-input, .password-input {
            width: 300px;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }
    .submit-button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }
    .submit-button:hover {
            background-color: #6FBF72;
        }
    
